<ul>
    <li>
        <url-launcher
                url="{{ path('close_sprint') }}"
                method="POST"
                class="menu-link"
                event="sprintClosed"
        >
            <i class="fa-solid fa-xmark"></i>
            Fermer le sprint
        </url-launcher>
    </li>
    <li>
        <a href="" class="menu-link">
            <i class="fa-solid fa-eye-dropper"></i>
            Autre lien
        </a>
    </li>
</ul>