.sprint {
  display: flex;
  width: calc(100vw - 40px);
  max-width: calc(100vw - 40px);
  height: 100vh;
  max-height: 100vh;
  align-items: stretch;
  gap:20px;
  padding:20px;
  .column {
    display: flex;
    flex-direction: column;
    padding:20px;
    height: calc(100% - 80px);
    overflow-y: auto;
    flex: 1;
    background: white;
    border-radius: 10px;
    &.devs {
      flex: 0.35
    }

    .column-name {
      background: #3b82f6;
      height: 40px;
      margin-bottom: 10px;
    }
    .devs {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      flex: 1;
      .dev {
        flex: 1;
        padding: 7px;
        border-top: 1px solid grey;
        .tickets {
          height: calc(100% - 14px);
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }

    .ticket {
      display: block;
      width:40%;
      height: 50px;
      margin:7px 0;
      border-radius: 8px;
      background: #F3F3F3;
      padding:10px;
      &[data-status="0"] {
        background: #F3F3F3;
      }
      &[data-status="1"] {
        background: #B0413E;
        &[data-stade="half"] {
          background: darkorange;
        }
        &[data-stade="end"] {
          background: gold;
        }
      }
      &[data-status="2"] {
        background: yellowgreen;
      }

      progress-bar {
        display: flex;
        height: 15px;
        width:100%;
        background: black;
        border-radius: 200px;
        position:relative;
        .progression {
          display: block;
          background: white;
          position: absolute;
          top:3px;
          left:3px;
          border-radius: 200px;
          height: 9px;
        }
      }
    }
  }
}