.sprint {
  display: flex;
  width: calc(100vw - 40px);
  max-width: calc(100vw - 40px);
  height: 100vh;
  max-height: 100vh;
  align-items: stretch;
  gap:20px;
  padding:20px;
  .column {
    display: flex;
    flex-direction: column;
    padding:20px;
    height: calc(100% - 80px);
    overflow-y: auto;
    flex: 1;
    background: #242424;
    border-radius: 10px;

    .tickets {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding:7px;
      min-height: 35px;
      align-content: start;
      gap: 15px;
    }
    &.todo, &.done {
      .tickets {
        height: 100%;
      }
    }
    &.devs {
      flex: 0.35
    }

    .column-name {
      height: 40px;
      margin-bottom: 10px;
      color: white;
      font-size: 17px;
      font-weight: bold;
    }
    .devs {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      flex: 1;
      gap: 20px;
      .dev {
        flex: 1;
        display: block;
        background: rgba(0,0,0,0.3);
        padding: 18px 10px;
        border-radius: 10px;
        position:relative;
        .dev-name {
          position: absolute;
          color: gold;
          top: -15px;
          right: 0;
          font-size: 14px;
          border-radius: 10px 10px 0;
          text-align: right;
          background: black;
          padding: 7px;
        }

        .dev-counter {
          color:white;
        }

        .tickets {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }

    .ticket {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width:40%;
      border-radius: 8px;
      background: #FFF;
      padding:10px;
      position: relative;
      height: max-content;
      .ticket-name {
        width: max-content;
        background: rgba(0,0,0,0.7);
        padding: 3px;
        border-radius: 4px;
        font-size: 14px;
        color:white;
        font-weight: bold;
      }
      &:after {
        display: block;
        background: black;
        color: white;
        border-radius: 200px;
        padding: 4px 6px;
        top:4px;
        margin-bottom: 5px;
        right: 4px;
        content: attr(progression)' %';
        position: absolute;
        font-size: 10px;
      }

      &[data-status="0"] {
        background: #FFF;
      }
      &[data-status="1"] {
        background: orangered;
        &[data-stade="half"] {
          background: gold;
        }
        &[data-stade="end"] {
          background: yellowgreen;
        }
      }
      &[data-status="2"] {
        background: green;
      }

      progress-bar {
        display: flex;
        height: 15px;
        width:100%;
        background: black;
        border-radius: 200px;
        position:relative;
        margin-top:4px;
        .progression {
          display: block;
          background: white;
          position: absolute;
          top:3px;
          left:3px;
          border-radius: 200px;
          height: 9px;
        }
      }
    }
  }
}